/* _content/E-SysV0.01/Areas/Admin/Views/Shared/Admin_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hmmstmkp7y] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hmmstmkp7y] {
  color: #0077cc;
}

.btn-primary[b-hmmstmkp7y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hmmstmkp7y], .nav-pills .show > .nav-link[b-hmmstmkp7y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hmmstmkp7y] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hmmstmkp7y] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hmmstmkp7y] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hmmstmkp7y] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hmmstmkp7y] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/E-SysV0.01/Areas/Admin/Views/Shared/_AdminAppLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1gcfrl1jmg] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1gcfrl1jmg] {
  color: #0077cc;
}

.btn-primary[b-1gcfrl1jmg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1gcfrl1jmg], .nav-pills .show > .nav-link[b-1gcfrl1jmg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1gcfrl1jmg] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1gcfrl1jmg] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1gcfrl1jmg] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1gcfrl1jmg] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1gcfrl1jmg] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/E-SysV0.01/Views/Shared/ESys_KioskLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-yuxy7k9gx5] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-yuxy7k9gx5] {
  color: #0077cc;
}

.btn-primary[b-yuxy7k9gx5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yuxy7k9gx5], .nav-pills .show > .nav-link[b-yuxy7k9gx5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-yuxy7k9gx5] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-yuxy7k9gx5] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yuxy7k9gx5] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yuxy7k9gx5] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-yuxy7k9gx5] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/E-SysV0.01/Views/Shared/ESys_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-j4jzvpaopl] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-j4jzvpaopl] {
  color: #0077cc;
}

.btn-primary[b-j4jzvpaopl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-j4jzvpaopl], .nav-pills .show > .nav-link[b-j4jzvpaopl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-j4jzvpaopl] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-j4jzvpaopl] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-j4jzvpaopl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-j4jzvpaopl] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-j4jzvpaopl] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
