body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    position: relative;
    background: #fff;
}

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('/images/mainbg.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        z-index: -1;
    }


.report-tabs-wrapper {
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #8b2f00;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}


.tab-btn {
    text-decoration: none !important;
    background-color: #d9d9d9;
    color: #333 !important;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    display: inline-block;
}

    .tab-btn:hover {
        background-color: #bfbfbf;
        transform: translateY(-2px);
    }

    .tab-btn.active {
        background-color: #00749b;
        color: #fff !important;
        font-weight: 700;
    }


.filter select {
    background: transparent; 
    color: #333; 
    border: none; 
    font-size: 14px;
    font-weight: 500;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.filter {
    background-color: #d0d0d0; 
    padding: 8px 15px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
    .filter::after {
        content: "▼";
        font-size: 10px;
        margin-left: 10px;
        opacity: 0.7;
    }


    .filter:hover {
        background-color: #c0c0c0; 
    }

    .filter::after {
        content: "▼"; 
        font-size: 10px;
        margin-left: 10px;
        opacity: 0.7;
    }

